---
rdf_prefix_path: "_data/prefixes.sparql"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sport Event</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap-4.3.1/css/bootstrap.min.css">
    <link href="/plugins/fontawesome-5.9.0/css/all.css" rel="stylesheet" type="text/css">
    <link href="/styles/animations.css" rel="stylesheet" type="text/css">
    <link href="/styles/main.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--Header Difinire-->
<div id="header-sticky-wrapper" class="sticky-wrapper" style="height: 100px;">
    <header id="header">
        <div class="container">
            <div class="row">
                <a class="navbar-brand" href="/index.html">Fitnessstudio BRB</a>
                <div class="col-sm-12 mainmenu_wrap">
                    <div class="main-menu-icon visible-xs">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul id="mainmenu" class="menu sf-menu responsive-menu superfish sf-js-enabled">
                        <li >
                            <a href="/index.html">Sport Events</a>
                        </li>
                        <li class="">
                            <a href="/trainers.html">Trainers</a>
                        </li>
                        <li class="active">
                            <a href="#">Räume</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>


<section class="darkgrey_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="block-header animated fadeInUp">Räume</h2>
            </div>
        </div>
        <div class="search-form">
            <div class="search-form__child">
                <input id="forSearch" class="form-control" placeholder="Suchen">
            </div>
        </div>
        <div class="row">

            {% capture Place_query %}
                SELECT ?placeName ?comment ?placeNameUrl
                WHERE{
                    ?Place a schema:Place;
                    schema:name ?placeName ;
                    rdfs:comment ?comment .
            BIND(REPLACE(STR(?placeName), "\\s", "") AS ?placeNameUrl)
            }
            {% endcapture %}
            {% assign places = page.rdf | sparql_query: Place_query %}
            {% for row in places %}
                <div class="col-sm-6 col-md-3 search">
                    <div class="thumbnail">
                        <img width="340" height="180" src="images/Place/{{row.placeNameUrl}}.jpg">
                        <div class="caption">
                            <h4><a href="ns/kursplanung-fitnessstudio/{{row.placeNameUrl}}.html">{{row.placeName}}</a></h4>
                            <p>{{row.comment}}</p>

                            {% capture gymEqipament_query %}
                            SELECT ?gymEqipament
                            WHERE{
                            fitness:{{row.placeNameUrl}} a schema:Place;
                                fitness:gymEquipment ?gymEqipament .
                            }
                            {% endcapture %}

                            {% assign gymEqipamentQuery = page.rdf | sparql_query: gymEqipament_query %}
                            <p>
                            {% for result in gymEqipamentQuery %}
                                <span class="equipament">{{result.gymEqipament}}</span>
                            {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>

<footer>
    <section id="copyright" class="light_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <i class="far fa-copyright"></i> - Fitnessstudio BRB
                </div>
            </div>
        </div>
    </section>
</footer>

<script src="/js/jquery-3.3.1.slim.min.js"></script>
<script src="/styles/bootstrap-4.3.1/js/bootstrap.bundle.js"></script>
<script src="/styles/bootstrap-4.3.1/js/bootstrap.min.js"></script>
<script src="js/search.js"></script>
</body>
</html>