
.trainer-card {
    background-color: #242424;
}

.trainer-section {
    background-color: #323232;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    background-size: cover;
}

.text-overflow-hidden {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.program {
    width: 100%;
    display: block;
    margin-bottom: 40px;
}
.program .text {
    width: calc(100% - 100px);
}

.program .icon {
    width: 105px;;
    height: 80px;
    background: #ff0000;
    background: #ff0055;
    background: -moz-linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #ff0055), color-stop(100%, #ff6600));
    background: -webkit-linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    background: -o-linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    background: -ms-linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    background: linear-gradient(45deg, #ff0055 0%, #ff6600 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0055', endColorstr='#ff6600', GradientType=1 );
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}


.text.ml-5.mr-lg-4.text-lg-right > h3, h1 {
    line-height: 1.4;
    color: white;

}

.text.ml-5.mr-lg-4.text-lg-right > h1 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.flex-end {
    justify-content: flex-end;
}

.trainer-name-icon:before {
    display: block;
    content: url(/images/black-male-user-symbol.svg);
    height: 45px;
    width: 45px;
}

.muskelaufbau:before{
    display: block;
    content: url(/images/weight-lifting.svg);
    height: 45px;
    width: 45px;
}

.frauen-yoga:before {
    display: block;
    content: url(/images/meditation-female.svg);
    height: 45px;
    width: 45px;
}

.kondition:before {
    display: block;
    content: url(/images/exercise.svg);
    height: 45px;
    width: 45px;
}

.kampfsport:before {
    display: block;
    content: url(/images/karate-high-kick.svg);
    height: 45px;
    width: 45px;
}

.mma:before {
    display: block;
    content: url(/images/martial-arts-couple-fight.svg);
    height: 45px;
    width: 45px;
}

.tanz:before {
    display: block;
    content: url(/images/dancer-with-music.svg);
    height: 45px;
    width: 45px;
}

.biking:before {
    display: block;
    content: url(/images/cycling.svg);
    height: 45px;
    width: 45px;
}

.gymnastik:before {
    display: block;
    content: url(/images/woman.svg);
    height: 45px;
    width: 45px;
}

.entspannung:before {
    display: block;
    content: url(/images/meditation.svg);
    height: 45px;
    width: 45px;
}

.ballsport:before {
    display: block;
    content: url(/images/pilates.svg);
    height: 45px;
    width: 45px;
}

.stretching:before {
    display: block;
    content: url(/images/stretching-exercises.svg);
    height: 45px;
    width: 45px;
}

.schwimminstruktor:before {
    display: block;
    content: url(/images/no-shouting-allowed.svg);
    height: 45px;
    width: 45px;
}
